body {
    display: flex;
    font-family: Roboto;
    background-color: #1f2937;
    color: #f9faf8;
    flex-direction: column;
    padding-left: 128px;
    padding-right: 128px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-family: 'Roboto';
    padding-top: 3px;
}

.link-container {
    display: flex;
    justify-content: space-around;
}

.link-container p {
    padding: 10px;
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0px 25px 0px;

}

.sign-up-left {
    outline: auto;
    margin-right: 600px;
    
}

.sign-up-right {
    outline: auto;
    display: flex;
    justify-content: flex-end;
}

#box {
    background-color: lightblue;
    border: 2px solid blue;
    
}

.button {
    background-color: #3882F6;
    border: none;
    color: white;

    text-align: center;
    text-decoration: none;

    font-size: 16px;

  }